.jobDesc ul li {
  font-size: 14px;
  
}

.schoolTimeline p {
  font-size: 20px;
  color: #000000;
  
}

.schoolTimeline h3 {
  color: #000000 !important;
  font-weight: bold;
}

.workExperienceItem ul li {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  color: black;
}

.iconPlacement {
  width: 100% !important;
  height: 100% !important;
  border-radius: 50%;
  
}

.iconPlacement_CGI {
  width: 100% !important;
  height: 100% !important;
}

.iconStyle {
  width: 100% !important;
  height: 100% !important;
  color: red;
}

h4 {
  color: #000000;
}
h3 {
  text-shadow: none;
}